---
import Header from '../components/Header.astro';
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to whatsapp fast message.">
	<main>
		<Header />
		<Form />
	</main>
</Layout>

<style>
	main {
        display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
